<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evo.evoproject.mapper.order.UserOrderMapper">

    <!-- Result Map -->
    <resultMap id="OrderResultMap" type="com.evo.evoproject.domain.order.Order">
        <id property="orderNo" column="order_no" />
        <result property="userNo" column="user_no" />
        <result property="proNo" column="pro_no" />
        <result property="orderName" column="order_name" />
        <result property="orderAddress1" column="order_address_1" />
        <result property="orderAddress2" column="order_address_2" />
        <result property="orderPhone" column="order_phone" />
        <result property="orderComment" column="order_comment" />
        <result property="orderTimestamp" column="order_timestamp" />
        <result property="orderPayment" column="order_payment" />
        <result property="orderStatus" column="order_status" />
        <result property="orderDelivnum" column="order_delivnum" />
        <result property="requestType" column="request_type" />
        <result property="quantity" column="pro_stock"/>
    </resultMap>

        <!-- Result Map -->
        <resultMap id="OrderItemResultMap" type="com.evo.evoproject.domain.order.Orderitem">
            <id property="orderNo" column="order_no" />
            <result property="productNo" column="product_no" />
            <result property="quantity" column="quantity" />
            <result property="price" column="price" />
            <result property="shipping" column="shipping" />
            <result property="productName" column="product_name" />
            <result property="mainImage" column="main_image" />
            <result property="orderPayment" column="order_payment" />
            <result property="orderStatus" column="order_status" />
            <result property="orderName" column="order_name" />
            <result property="orderAddress1" column="order_address_1" />
            <result property="orderAddress2" column="order_address_2" />
            <result property="orderPhone" column="order_phone" />
            <result property="orderComment" column="order_comment" />
            <result property="orderTimestamp" column="order_timestamp" />
            <result property="orderDelivnum" column="order_delivnum" />
            <result property="requestType" column="request_type" />
        </resultMap>

        <!-- 주문 목록 조회 -->
        <select id="findOrdersByUserNo" resultMap="OrderItemResultMap">
            SELECT o.order_no AS order_no,
                   p.pro_no AS product_no,
                   p.pro_name AS product_name,
                   i.image_name AS main_image,
                   o.order_payment AS order_payment,
                   o.order_status AS order_status,
                   o.order_name AS order_name,
                   o.order_address_1 AS order_address_1,
                   o.order_address_2 AS order_address_2,
                   o.order_phone AS order_phone,
                   o.order_comment AS order_comment,
                   o.order_timestamp AS order_timestamp,
                   o.order_delivnum AS order_delivnum,
                   o.request_type AS request_type,
                   o.pro_stock AS quantity,
                   p.pro_price AS price,
                   p.shipping AS shipping
            FROM orders o
                     JOIN product p ON o.pro_no = p.pro_no
                     LEFT JOIN product_image pi ON p.pro_no = pi.pro_no
                     LEFT JOIN image i ON pi.image_id = i.image_id
            WHERE o.user_no = #{userNo} AND pi.image_id = (SELECT image_id FROM product_image WHERE pro_no = p.pro_no LIMIT 1)
            ORDER BY o.order_timestamp DESC
                LIMIT #{size} OFFSET #{offset}
        </select>

    <!-- 취소/반품 내역 조회 -->
    <select id="findCancelReturnsByUserNo" resultMap="OrderItemResultMap">
        SELECT o.order_no AS order_no,
               p.pro_no AS product_no,
               p.pro_name AS product_name,
               i.image_name AS main_image,
               o.order_payment AS order_payment,
               o.order_status AS order_status,
               o.order_name AS order_name,
               o.order_address_1 AS order_address_1,
               o.order_address_2 AS order_address_2,
               o.order_phone AS order_phone,
               o.order_comment AS order_comment,
               o.order_timestamp AS order_timestamp,
               o.order_delivnum AS order_delivnum,
               o.request_type AS request_type,
               o.pro_stock AS quantity,
               p.pro_price AS price,
               p.shipping AS shipping
        FROM orders o
                 JOIN product p ON o.pro_no = p.pro_no
                 LEFT JOIN product_image pi ON p.pro_no = pi.pro_no
                 LEFT JOIN image i ON pi.image_id = i.image_id
        WHERE o.user_no = #{userNo}
          AND o.request_type IN (1, 2, 3, 4, 5)
          AND pi.image_id = (SELECT image_id FROM product_image WHERE pro_no = p.pro_no LIMIT 1)
        ORDER BY o.order_timestamp DESC
            LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countCancelReturnsByUserNo" resultType="int">
        SELECT COUNT(*)
        FROM orders o
        WHERE o.user_no = #{userNo}
          AND o.request_type IN (1, 2, 3, 4, 5)
    </select>



    <!-- 주문 목록 조회 -->
    <select id="findOrderListWithProductInfo" resultType="com.evo.evoproject.domain.order.Orderitem">
        SELECT o.order_no AS orderNo, p.pro_no AS productNo, p.pro_name AS productName, i.image_name AS mainImage
        FROM orders o
                 JOIN product p ON o.pro_no = p.pro_no
                 LEFT JOIN image i ON p.image_id = i.image_id
    </select>

    <!-- 주문 상세 조회 -->
    <select id="findOrderDetails" resultMap="OrderResultMap">
        SELECT *
        FROM orders
        WHERE order_no = #{orderId}
          AND user_no = #{userNo}
    </select>

    <!-- 주문 생성 -->
    <insert id="insertOrder">
        INSERT INTO orders (
            user_no, pro_no, order_name, order_address_1, order_address_2, order_phone,
            order_comment, order_timestamp, order_payment, order_status,
            order_delivnum, request_type, pro_stock
        )
        VALUES (
                   #{userNo}, #{proNo}, #{orderName}, #{orderAddress1}, #{orderAddress2},
                   #{orderPhone}, #{orderComment}, NOW(), #{orderPayment}, 0,
                   NULL, #{requestType}, #{quantity}
               )
    </insert>

    <!-- 주문 수량 카운트 -->
    <select id="countOrdersByUserNo" resultType="int">
        SELECT COUNT(*)
        FROM orders
        WHERE user_no = #{userNo}
    </select>

    <!-- 상품 조회 -->
    <select id="findOrderItemByProductNo" resultType="com.evo.evoproject.domain.order.Orderitem">
        SELECT p.pro_no AS productNo, p.pro_price AS price, p.shipping, p.pro_name AS productName, i.image_name AS mainImage
        FROM product p
                 LEFT JOIN image i ON p.image_id = i.image_id
        WHERE p.pro_no = #{productNo}
    </select>

    <!-- 상품 재고 업데이트 -->
    <update id="updateProductStock" parameterType="map">
        UPDATE product
        SET pro_stock = pro_stock - #{quantity}
        WHERE pro_no = #{productNo}
    </update>

    <select id="findOrderByIdAndUserNo" resultMap="OrderResultMap">
        SELECT * FROM orders WHERE order_no = #{orderId} AND user_no = #{userNo}
    </select>

    <update id="updateOrderRequestType">
        UPDATE orders
        SET request_type = #{requestType},
            order_status = #{orderStatus}
        WHERE order_no = #{orderNo}
    </update>



</mapper>
