<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Evo Martket_Admin_Board 관리</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <style>
        #categorySelect {
            width: 200px; /* 원하는 너비로 설정 */
        }
    </style>

</head>
<body>
<!--Header-->
<header th:replace="~{header :: header}"></header>

<div>
    <div class="admin banner">
        <img alt="admin" th:src="@{/image/admin.png}">
    </div>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-5 text-black" href="#">Admin</a>
    </nav>

    <div id="layoutSidenav">
        <!--  관리자 페이지 SNB  -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav ps-3">
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/product}">
                            상품관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/manageOrder}">
                            주문관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/boards}">
                            Board 관리
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- 대시보드 내용 -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 container-custom">
                    <h1 class="mt-4">Board 관리</h1>
                    <div class="mb-3">
                        <label for="categorySelect" class="form-label">카테고리 선택</label>
                        <select id="categorySelect" class="form-select" onchange="location.href='/admin/boards?category=' + this.value">
                            <option value="0" th:selected="${currentCategory == 0}">전체</option>
                            <option value="1" th:selected="${currentCategory == 1}">상품</option>
                            <option value="2" th:selected="${currentCategory == 2}">배송</option>
                            <option value="3" th:selected="${currentCategory == 3}">기타</option>
                        </select>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <div th:if="${#lists.isEmpty(boards)}">
                            <p>등록된 게시물이 없습니다.</p>
                        </div>
                        <div th:unless="${#lists.isEmpty(boards)}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>유저 아이디</th>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                    <th>날짜</th>
                                    <th>삭제</th>
                                    <th>답변상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="board : ${boards}">
                                    <!-- 유저 아이디 -->
                                    <td th:text="${board.user.userId}"></td>
                                    <!-- 카테고리 아이디 -->
                                    <td th:text="${board.categoryId == 1 ? '상품' : board.categoryId == 2 ? '배송' : '기타'}"></td>
                                    <!-- 제목 -->
                                    <td>
                                        <a th:href="@{/admin/boards/view/{boardNo}(boardNo=${board.boardNo})}" th:text="${board.boardTitle}"></a>
                                    </td>
                                    <!-- 글 작성 날짜 -->
                                    <td th:text="${#dates.format(board.boardTimestamp, 'yyyy-MM-dd HH:mm')}"></td>
                                    <!-- 삭제 버튼 -->
                                    <td>
                                        <a href="javascript:void(0);"
                                           th:data-board-title="${board.boardTitle}"
                                           th:data-board-no="${board.boardNo}"
                                           onclick="confirmDelete(this)"
                                           class="btn btn-danger btn-sm">삭제</a>
                                    </td>
                                    <!-- 답변 상태 -->
                                    <td th:text="${board.answeredStatus}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 이전 버튼 -->
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link" th:if="${currentPage > 0}" th:href="@{/admin/boards(page=${currentPage - 1}, category=${currentCategory})}">이전</a>
                            <a class="page-link" th:if="${currentPage == 0}">이전</a>
                        </li>
                        <!-- 이전 버튼 -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
                            <a class="page-link" th:href="@{/admin/boards(page=${i}, category=${currentCategory})}" th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                            <a class="page-link" th:if="${currentPage < totalPages - 1}" th:href="@{/admin/boards(page=${currentPage + 1}, category=${currentCategory})}">다음</a>
                            <a class="page-link" th:if="${currentPage == totalPages - 1}">다음</a>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</div>

<!--Footer-->
<footer th:replace="~{footer :: footer}"></footer>

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
