<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Evo Martket_Admin_주문관리</title>
    <meta http-equiv="refresh" content="600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>

<!--Header-->
<header th:replace="~{header :: header}"></header>

<div>
    <div class="admin banner">
        <img alt="admin" th:src="@{/image/admin.png}" width="1600px" height="350px">
    </div>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-5 text-black" href="#">Admin</a>
    </nav>

    <div id="layoutSidenav">
        <!--  관리자 페이지 SNB  -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav ps-3">
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/product}">
                            상품관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/manageOrder}">
                            주문관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/boards}">
                            Board 관리
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- 대시보드 내용 -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">주문관리</h1>

                    <div class="button-container">
                        <button id="btn-all" th:class="${selectedStatus == 'all' ? 'selected' : ''}" onclick="location.href='/admin/manageOrder'">전체 주문 목록</button>
                        <button id="btn-0" th:class="${selectedStatus == 0 ? 'selected' : ''}" onclick="location.href='/admin/manageOrder/0'">결제대기 (<span th:text="${countPending}"></span>)</button>
                        <button id="btn-1" th:class="${selectedStatus == 1 ? 'selected' : ''}" onclick="location.href='/admin/manageOrder/1'">배송준비중 (<span th:text="${countPreparing}"></span>)</button>
                        <button id="btn-2" th:class="${selectedStatus == 2 ? 'selected' : ''}" onclick="location.href='/admin/manageOrder/2'">배송중 (<span th:text="${countShipping}"></span>)</button>
                        <button id="btn-3" th:class="${selectedStatus == 3 ? 'selected' : ''}" onclick="location.href='/admin/manageOrder/3'">결제 취소/반품 (<span th:text="${countRequest}"></span>)</button>
                        <button id="btn-4" th:class="${selectedStatus == 4 ? 'selected' : ''}" onclick="location.href='/admin/manageOrder/4'">배송완료 (<span th:text="${countCompleted}"></span>)</button>
                    </div>

                    <table>
                        <tr>
                            <th>주문일</th>
                            <th>주문번호</th>
                            <th>주문자</th>
                            <th>총금액</th>
                            <th>상태</th>
                            <th>결제 취소/반품 처리</th>
                        </tr>
                        <tr th:each="order : ${orders}">
                            <td th:text="${#dates.format(order.orderTimestamp, 'yyyy-MM-dd | HH:mm')}"></td>
                            <td th:text="${order.orderNo}"></td>
                            <td th:text="${order.orderName}"></td>
                            <td th:text="${order.orderPayment}"></td>
                            <td>
                                <span th:if="${order.orderStatus == 0}">결제 대기</span>
                                <form th:if="${order.orderStatus == 0}" method="post" th:action="@{/admin/manageOrder/{orderNo}/{status}(orderNo=${order.orderNo}, status=1)}" id="updateForm">
                                    <input type="hidden" name="prevStatus" th:value="${selectedStatus}">
                                    <button type="button" onclick="confirmUpdate()" class="manageConfirmBtn">결제완료</button>
                                </form>

                                <!-- 배송 준비중 상태에서 송장번호 입력 버튼과 팝업창 -->
                                <span th:if="${order.orderStatus == 1}">
                                    배송 준비중 <br>
                                    <button type="button" th:onclick="'showPopup(\'' + ${order.orderNo} + '\', \'inputPopup\');'" class="manageConfirmBtn">송장번호입력</button>
                                    <div th:id="'inputPopup-' + ${order.orderNo}" class="popup" style="display: none;">
                                        <div class="popup-content">
                                            <form method="post" onsubmit="return validateDelivnum();" th:action="@{/admin/manageOrder/{orderNo}/{status}/orderDelivnum(orderNo=${order.orderNo}, status=2)}">
                                                <h2>운송장 번호</h2>
                                                <input type="text" id="delivnum" name="orderDelivnum" placeholder="송장번호">
                                                <input type="hidden" name="prevStatus" th:value="${selectedStatus}">
                                                <div style="margin-top: 20px;">
                                                    <button type="submit" style="border: none; background-color: #0d6efd; color: white">확인</button>
                                                    <button type="button" th:onclick="'hidePopup(\'inputPopup-' + ${order.orderNo} + '\');'" style="border: none; background-color: #939393; color: white">취소</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </span>

                                <!-- 배송중 상태에서 송장번호 조회 버튼과 팝업창, 배송완료 버튼 -->
                                <span th:if="${order.orderStatus == 2}">
                                    배송중 <br>
                                    <button type="button" th:onclick="'showPopup(\'' + ${order.orderNo} + '\', \'viewPopup\');'" class="manageConfirmBtn">송장번호조회</button>
                                    <form method="post" th:action="@{/admin/manageOrder/{orderNo}/{status}(orderNo=${order.orderNo}, status=4)}" id="updateForm2">
                                        <input type="hidden" name="prevStatus" th:value="${selectedStatus}">
                                        <button type="button" onclick="confirmUpdate2()" class="manageConfirmBtn">배송완료</button>
                                    </form>
                                    <div th:id="'viewPopup-' + ${order.orderNo}" class="popup" style="display: none;">
                                        <div class="popup-content">
                                            <h2>운송장 번호</h2>
                                            <p th:text="${order.orderDelivnum}"></p>
                                            <button type="button" th:onclick="'hidePopup(\'viewPopup-' + ${order.orderNo} + '\');'" style="border: none; background-color: #939393; color: white">닫기</button>
                                        </div>
                                    </div>
                                </span>

                                <span th:if="${order.orderStatus == 3}">결제 취소/환불</span>

                                <span th:if="${order.orderStatus == 4}">배송완료</span>
                            </td>

                            <td>
                                <!-- 결제 취소 요청 처리 버튼 -->
                                <button th:if="${order.orderStatus == 3 && order.requestType == 1}" th:onclick="'showConfirmPopup(' + ${order.orderNo} + ')'" class="manageConfirmBtnPlus">결제 취소 요청 처리</button>
                                <span th:if="${order.orderStatus == 3 && order.requestType == 3}">결제 취소 처리 완료</span>

                                <!-- 결제 취소 요청 처리 팝업 -->
                                <div id="confirmPopup" class="popup" style="display: none;">
                                    <div class="popup-content">
                                        <h2>결제 취소 요청 처리</h2>
                                        <form id="confirmForm" method="post">
                                            <input type="hidden" name="prevStatus" th:value="${selectedStatus}">
                                            <button type="button" onclick="confirmRequest()" style="border: none; background-color: #0d6efd; color: white">승인</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- 반품 요청 처리 버튼 -->
                                <button th:if="${order.orderStatus == 3 && order.requestType == 2}" th:onclick="'showRefundPopup(' + ${order.orderNo} + ')'" class="manageConfirmBtnPlus">반품 요청 처리</button>
                                <span th:if="${order.orderStatus == 3 && order.requestType == 4}">반품 처리 완료</span>
                                <span th:if="${order.orderStatus == 4 && order.requestType == 5}">반품 요청 거절</span>

                                <!-- 반품 요청 처리 팝업 -->
                                <div id="refundPopup" class="popup" style="display: none;">
                                    <div class="popup-content">
                                        <h2>반품 요청 처리</h2>
                                        <form id="refundForm" method="post">
                                            <input type="hidden" name="prevStatus" th:value="${selectedStatus}">
                                            <button type="button" onclick="confirmRefund()" style="border: none; background-color: #0d6efd; color: white">승인</button>
                                            <button type="button" onclick="denyRefund()" style="border: none; background-color: #939393; color: white">거절</button>
                                        </form>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    </table>

                    <!-- 페이지네이션 컨트롤 -->
                    <div class="pagination">
                        <a th:if="${currentPage > 1}" th:href="@{/admin/manageOrder/{status}(status=${selectedStatus == 'all' ? 5 : selectedStatus}, page=${currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <span th:text="${currentPage}"></span>
                        <a th:if="${currentPage < totalPage}" th:href="@{/admin/manageOrder/{status}(status=${selectedStatus == 'all' ? 5 : selectedStatus}, page=${currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>


                </div>
            </main>
        </div>
    </div>
</div>

<!--Footer-->
<footer th:replace="~{footer :: footer}"></footer>

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script>

    // 결제완료확인 confirm창
    function confirmUpdate() {
        if (confirm("해당 상품의 결제를 확인하셨습니까?")) {
            document.getElementById("updateForm").submit();
        }
    }

    //송장번호 입력 시 유효성 검사
    function validateDelivnum() {
        var delivnum = document.getElementById('delivnum').value;
        var regex = /^[0-9]{1,12}$/;

        if (!regex.test(delivnum)) {
            alert("운송장 번호는 12자 이하의 숫자만 입력해야 합니다.");
            return false;  // form의 제출을 방지합니다.
        }

        return true;  // form의 제출을 허용합니다.
    }

    // 배송완료확인 confirm창
    function confirmUpdate2() {
        if (confirm("해당 상품의 배송이 완료되었습니까?")) {
            // "확인"을 클릭하면 form을 제출하여 orderStatus를 업데이트합니다.
            document.getElementById("updateForm2").submit();
        } else {
            // "취소"를 클릭하면 팝업을 닫습니다.
            hidePopup('viewPopup-' + currentOrderNo);
        }
    }

    function showPopup(orderNo, popupType) {
        document.getElementById(popupType + '-' + orderNo).style.display = 'block';
    }

    function hidePopup(popupId) {
        var popup = document.getElementById(popupId);
        popup.style.display = 'none';
        var input = popup.querySelector('input[type="text"]');
        if (input) {
            input.value = '';
        }
    }

    // 결제 취소 요청 처리 팝업
    function showConfirmPopup(orderNo) {
        // 팝업을 표시하고 form의 action을 설정합니다.
        document.getElementById('confirmPopup').style.display = 'block';
        document.getElementById('confirmForm').action = '/admin/manageOrder/' + orderNo + '/requestType/3/orderStatus/3';
        currentOrderNo = orderNo;  // 현재 주문 번호를 저장합니다.
    }
    // 결제 취소 요청 처리 확인창
    function confirmRequest() {
        if (confirm("승인하시겠습니까?")) {
            // form을 제출하여 requestType을 업데이트합니다.
            document.getElementById('confirmForm').submit();
        } else {
            // "취소"를 클릭하면 팝업을 닫습니다.
            hidePopup('confirmPopup');  // 현재 주문 번호를 사용하여 팝업을 닫습니다.
        }
    }

    // 반품 요청 처리 확인창
    function confirmRefund() {
        if (confirm("승인하시겠습니까?")) {
            // form을 제출하여 requestType을 업데이트합니다.
            document.getElementById('refundForm').submit();
        } else {
            // "취소"를 클릭하면 팝업을 닫습니다.
            hidePopup('refundPopup');
        }
    }

    // 반품 요청 처리 팝업
    function showRefundPopup(orderNo) {
        // 팝업을 표시하고 form의 action을 설정합니다.
        document.getElementById('refundPopup').style.display = 'block';
        document.getElementById('refundForm').action = '/admin/manageOrder/' + orderNo + '/requestType/4/orderStatus/3';
        currentOrderNo = orderNo;  // 현재 주문 번호를 저장합니다.
    }

    // 반품 요청 거절 확인창
    function denyRefund() {
        if (confirm("반품 요청을 거절하시겠습니까?")) {
            // form의 action을 수정하여 requestType을 5로, orderStatus를 4로 업데이트합니다.
            document.getElementById('refundForm').action = '/admin/manageOrder/' + currentOrderNo + '/requestType/5/orderStatus/4';
            document.getElementById('refundForm').submit();
        } else {
            // "취소"를 클릭하면 팝업을 닫습니다.
            hidePopup('refundPopup');
        }
    }


</script>

</body>
</html>