<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evo Market_FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/knowledge.css}">
</head>
<body>

    <!-- 헤더 포함시키기 -->
    <header th:replace="header :: header"></header>

    <div class="faq banner">
        <img src="image/faq.png" alt="FAQ" width="1600px" height="350px">
    </div>

    <div class="faqContent">
        <div class="faq-section">
            <h2>Shipping</h2>
            <div class="question">Q. 언제 배송되나요?</div>
            <div class="answer">A. 주문 후 영업일 기준 3일 이내에 배송됩니다.</div>

            <div class="question">Q. 배송비는 얼마인가요?</div>
            <div class="answer">A. 배송비는 제품의 무게에 따라 다릅니다. 배송비는 상세 페이지를 참조해 주세요.</div>

            <div class="question">Q. 해외 배송이 가능한가요?</div>
            <div class="answer">A. 저희 Evo는 국내 배송만 처리합니다.</div>
        </div>

        <div class="faq-section">
            <h2>Order</h2>
            <div class="question">Q. 주문을 어떻게 취소하나요?</div>
            <div class="answer">A. 주문하신 제품의 주문 상태가 '결제 대기' 또는 '배송 준비 중'인 경우, 마이페이지 > 주문 목록에서 취소할 수 있습니다. 그러나 주문 상태가 위의 두 가지 경우가 아닌 경우 결제 취소가 불가능하며, 제품 수령 후 반품 요청을 제출해 주세요.</div>

            <div class="question">Q. 잘못된 배송이 이루어진 경우 어떻게 하나요?</div>
            <div class="answer">A. 제품이 잘못 배송된 경우, 마이페이지 > 주문 목록에서 반품 요청을 클릭하고 반품 요청 사유에 잘못된 배송 내용을 입력해 주세요. 신속하게 도와드리겠습니다.</div>

            <div class="question">Q. 불량품에 대해 교환이 가능한가요?</div>
            <div class="answer">A. 저희 Evo는 빈티지 가구를 취급하기 때문에 각 품목은 하나의 수량으로 판매됩니다. 따라서 제품을 반품하고 환불 절차를 진행해 주세요.</div>
        </div>

        <div class="faq-section">
            <h2>Product</h2>
            <div class="question">Q. 제품 보증 기간은 어떻게 확인하나요?</div>
            <div class="answer">A. 제품 보증 기간은 제품 상세 페이지에 명시되어 있습니다. 그러나 빈티지 가구의 특성상 보증 기간이 이미 만료된 경우가 있을 수 있습니다.</div>
        </div>
    </div>

    <!-- 푸터 포함시키기 -->
    <footer th:replace="footer :: footer"></footer>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>