<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Evo Market</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h5>About Evo</h5>
            <p>에보는 정식 공급 계약을 맺은 유럽의 빈티지 딜러,
                브랜드 가치가 높은 제조사 그리고 유명한 디자이너의
                작품을 소개합니다.</p>
        </div>
        <div class="footer-section">
            <h5>주식회사 에보</h5>
            <p>| 주소: (우)00000 서울시 서초구 000000 00</p>
            <p>| 대표이사: 불사조</p>
            <p>| 사업자 등록 번호: 000-00-00000</p>
            <p>| TEL : 070) 0000-1100</p>
            <p>| FAX : 02) 000-0000</p>
            <p>| EMAIL: evo@gmail.com</p><br>
            <p>기업은행 (주)에보</p>
            <p>000-000000-00-000</p>
        </div>
    </div>
</footer>
</body>
</html>