<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<link href="css/styles.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Evo Market</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- 헤더 포함시키기 -->
<header th:replace="~{header :: header}"></header>

<script>
    function performSearch() {
        var searchInput = document.getElementById('searchInput').value;
        if (searchInput) {
            // 입력값을 포함한 URL로 리디렉션
            var url = '/product/search/' + encodeURIComponent(searchInput);
            window.location.href = url;
        } else {
            alert('검색어를 입력하세요.');
        }
    }
</script>

<!-- 메인배너  -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/product/detail/30"><img src="image/main_banner1.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="/product/detail/31"><img src="image/main_banner2.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="/product/detail/29"><img src="image/main_banner3.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="/product/detail/28"><img src="image/main_banner4.png" class="d-block w-100" alt="..." /></a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br><br><br><br>

<!-- 인기 카테고리 -->
<div class="gallery_container">
    <div class="gallery">
        <div class="galleryItem">
            <a href="/product/category/2">
                <img src="image/pop_cate1.png" alt="Image 1">
                <div class="overlay">
                    <button>More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="/product/category/1">
                <img src="image/pop_cate2.png" alt="Image 2">
                <div class="overlay">
                    <button>More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="/product/category/3">
                <img src="image/pop_cate3.png" alt="Image 3">
                <div class="overlay">
                    <button>More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="/product/category/4">
                <img src="image/pop_cate4.png" alt="Image 4">
                <div class="overlay">
                    <button>More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="/product/category/6">
                <img src="image/pop_cate5.png" alt="Image 5">
                <div class="overlay">
                    <button>More</button>
                </div>
            </a>
        </div>

    </div>
</div>


<!-- 푸터 포함시키기 -->
<footer th:replace="~{footer :: footer}"></footer>

<!-- JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>