<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        .gradient-custom {
            background-color: white;
        }
        .card-custom {
            max-width: 500px; /* 카드 너비를 더 넓게 설정 */
            width: 100%;
        }
        .register-banner {
            position: relative;
            background-image: url('/image/banner.jpg'); /* 여기에 이미지 경로를 넣으세요 */
            background-size: cover;
            background-position: center;
            height: 400px;
            width: 100%; /* 전체 너비 설정 */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .login-banner h1 {
            margin: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<header th:replace="header :: header"></header>
<!-- 로그인 배너 추가 -->

<div class="register-banner">
    <h1>Login</h1>
</div>
<section class="d-flex vh-100 align-items-center">
    <div class="container-fluid d-flex justify-content-center">
        <div class="card bg-dark card-custom" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h2 class="text-white">SIGN UP</h2>
                <p class="text-white-50 mt-2 mb-5">회원 가입</p>

                <div class="mb-2">
                    <form th:action="@{/register}" th:object="${user}" method="post" id="registerForm">
                        <!-- 토큰을 추가하여 CSRF 공격 방지 -->
                        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                        <div class="mb-3">
                            <label for="userId" class="form-label text-white">아이디</label>
                            <input type="text" id="userId" th:field="*{userId}" class="form-control"
                                   required pattern="^[a-zA-Z0-9]{5,15}$" title="아이디는 5-20자의 영문자 및 숫자여야 합니다." />
                            <button type="button" id="checkUsernameButton" class="btn btn-secondary mt-2">중복확인</button>
                            <div id="checkResult" class="mt-2 text-white"></div>
                        </div>
                        <div class="mb-3">
                            <label for="userPw" class="form-label text-white">비밀번호</label>
                            <input type="password" id="userPw" th:field="*{userPw}" class="form-control"
                                   required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                   title="비밀번호는 최소 8자, 특수문자를 제외하고 하나 이상의 문자와 숫자를 포함해야 합니다." />
                        </div>
                        <div class="mb-3">
                            <label for="userPwConfirm" class="form-label text-white">비밀번호 확인</label>
                            <input type="password" id="userPwConfirm" class="form-control"
                                   required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                   title="비밀번호 확인은 비밀번호와 동일해야 합니다." />
                        </div>
                        <div class="mb-3">
                            <label for="userName" class="form-label text-white">이름</label>
                            <input type="text" id="userName" th:field="*{userName}" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="userEmail" class="form-label text-white">이메일</label>
                            <input type="email" id="userEmail" th:field="*{userEmail}" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="userPhone" class="form-label text-white">전화번호</label>
                            <input type="tel" id="userPhone" th:field="*{userPhone}" class="form-control" required pattern="^\d{10,11}$" title="전화번호는 10자리 또는 11자리 숫자여야 합니다." />
                        </div>
                        <div class="mb-3">
                            <label for="userAddress1" class="form-label text-white">우편번호</label>
                            <input type="text" id="userAddress1" th:field="*{userAddress1}" class="form-control" readonly />
                            <button type="button" class="btn btn-secondary mt-2" onclick="searchAddress()">주소 검색</button>
                        </div>
                        <div class="mb-3">
                            <label for="userAddress2" class="form-label text-white">상세 주소</label>
                            <input type="text" id="userAddress2" th:field="*{userAddress2}" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">마케팅 동의</label>
                            <div>
                                <input type="radio" id="userMarketingYes" name="userMarketing" th:field="*{userMarketing}" value="Y" class="form-check-input" required />
                                <label for="userMarketingYes" class="form-check-label text-white">예</label>
                            </div>
                            <div>
                                <input type="radio" id="userMarketingNo" name="userMarketing" th:field="*{userMarketing}" value="N" class="form-check-input" required />
                                <label for="userMarketingNo" class="form-check-label text-white">아니오</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">가입하기</button>
                    </form>
                    <div th:if="${error}" th:text="${error}" class="mt-3 text-danger"></div>
                    <div th:if="${param.success}" th:text="'회원가입이 완료되었습니다!'" class="mt-3 text-success"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="footer :: footer"></footer>
<script>
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = data.address;
                var extraAddr = '';

                if(data.addressType === 'R') {
                    if(data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                document.getElementById('userAddress1').value = data.zonecode;
                document.getElementById('userAddress2').value = fullAddr;
            }
        }).open();
    }

    $(document).ready(function() {
        $('#checkUsernameButton').click(function() {
            const userId = $('#userId').val();
            if (userId) {
                $.ajax({
                    url: '/check-username',
                    type: 'GET',
                    data: { userId: userId },
                    success: function(response) {
                        $('#checkResult').text(response.message).css('color', response.available ? 'green' : 'red');
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#checkResult').text('아이디 확인 중 오류가 발생했습니다.').css('color', 'red');
                    }
                });
            } else {
                $('#checkResult').text('아이디를 입력해주세요.').css('color', 'red');
            }
        });

        $('#registerForm').submit(function(event) {
            const userIdPattern = /^[a-zA-Z0-9]{5,20}$/;
            const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            const phonePattern = /^\d{10,11}$/;

            const userId = $('#userId').val();
            const userPw = $('#userPw').val();
            const userPwConfirm = $('#userPwConfirm').val();
            const userPhone = $('#userPhone').val();

            if (!userIdPattern.test(userId)) {
                alert('아이디는 5-15자의 영문자 및 숫자여야 합니다.');
                event.preventDefault();
                return;
            }

            if (!passwordPattern.test(userPw)) {
                alert('비밀번호는 최소 8자, 하나 이상의 문자와 숫자를 포함해야 합니다.');
                event.preventDefault();
                return;
            }
            if (userPw !== userPwConfirm) {
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
                event.preventDefault();
                return;
            }

            if (!phonePattern.test(userPhone)) {
                alert('전화번호는 10자리 또는 11자리 숫자여야 합니다.');
                event.preventDefault();
                return;
            }
        });
    });
</script>
</body>
</html>
