<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-5">
    <div class="card bg-light card-custom mx-auto" style="border-radius: 1rem; max-width: 600px;">
        <div class="card-body p-5">
            <h2 class="card-title text-center">회원탈퇴</h2>
            <form>
                <div class="mb-3">
                    <label for="userId" class="form-label">아이디</label>
                    <input type="text" id="userId" th:value="${user.userId}" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" class="form-control" />
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-danger" onclick="confirmWithdrawal()">회원탈퇴</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>

<script>
    function confirmWithdrawal() {
        if (confirm('정말 탈퇴하시겠습니까?')) {
            deleteUser();
        }
    }

    function deleteUser() {
        const userId = document.getElementById('userId').value;
        const password = document.getElementById('password').value;

        $.ajax({
            url: '/delete-user',
            type: 'POST',
            data: {
                userId: userId,
                password: password
            },
            success: function(response) {
                if (response.message) {
                    alert(response.message);
                    window.location.href = '/delete-user-redirect';
                } else if (response.error) {
                    alert(response.error);
                }
            },
            error: function() {
                alert('회원 탈퇴 처리 중 오류가 발생했습니다.');
            }
        });
    }
</script>

</body>
</html>
